@model IEnumerable<HealthcareProject.Models.MonthlyReport>

@{
    ViewData["Title"] = "Monthly Reports";
}

<h1>Monthly Reports</h1>

<form asp-controller="MonthlyReports" asp-action="Index" method="get">
    <p>Please enter last day of the month fo the monthly report!</p>
    <p>
        <input type="date" name="SearchDate">
        <input type="submit" value="Find Monthly Report" />
    </p>
</form>

@if (Model.Count() == 0)
{
    <p> We cannot find any report for the selected date!</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPatients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyIncome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPatients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>
          
        </tr>
}
    </tbody>
</table>
