@model IEnumerable<HealthcareProject.Models.MonthlyReport>


<h1>Monthly Report Summary</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ReportMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPatients)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MonthlyIncome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
               @item.ReportMonth.Date.ToLongDateString();
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPatients)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>


        </tr>
        }
    </tbody>
</table>