@model IEnumerable<HealthcareProject.Models.DailyReport>

@{
    ViewData["Title"] = "Daily Report";
}

<h1>Daily Reports</h1>
<form asp-controller="DailyReports" asp-action="Index" method="get">
    <p>Please enter Please enter the date you want the record of!</p>
    <p>
        <input type="date" name="SearchDate">
        <input type="submit" value="Find Monthly Report" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPatients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyIncome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPatients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyIncome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
