@model IEnumerable<HealthcareProject.Models.MedicalReport>

@{
    ViewData["Title"] = "Index";
}


@if(User.IsInRole("Staff"))
{ 
<p>
    <a asp-action="Create">Add New Report</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Report Name
            </th>
            <th>
                Report Type
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a  href="@item.ReportFile"> @Html.DisplayFor(modelItem => item.MedicalreportName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicalreport.ReportType)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            
        </tr>
}
    </tbody>
</table>
