@model IEnumerable<HealthcareProject.Models.MedicalReport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicalreport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicalreport.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Allergy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicalreportName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicalreportName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicalreportName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
