@model IEnumerable<HealthcareProject.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointment System</h1>

<p> You can only have one active appointment at a time. Please delete current appointment if you want to change or book another appointment!</p>
<form asp-controller="Appointments1" asp-action="Create" method="get">
    <p>Select doctor and date to book an appointment!</p>
    <p>
        DoctorId: <input type="text" name="doctor_id">
        Date:<input type="date" name="appt_date">
        <input type="submit" value="Find Appointment" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitRecord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApptId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApptId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
