@model HealthcareProject.Models.Nurse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nurse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NurseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NurseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NurseEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NurseEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NurseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
