@model HealthcareProject.Models.VisitRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VisitRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Allergy)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
