@model IEnumerable<HealthcareProject.Models.VisitRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Visit</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            @if (User.IsInRole("Doctor") || User.IsInRole("Nurse"))
            {
                <th>
                    Update Medical
                </th>
                <th>
                    Update Today's Visit
                </th>}
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prescription)
            </td>
            <td>
               @item.VisitDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            @if (User.IsInRole("Doctor") || User.IsInRole("Nurse")) { 
                <td><a asp-controller="Patients" asp-action="Edit" asp-route-id="@item.Patient.PatientId">Edit</a></td>}
            <td>
                @if (User.IsInRole("Doctor") || User.IsInRole("Nurse"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Visitid, pid = item.PatientId }) }
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@;
            </td>
        </tr>
}
    </tbody>
</table>
