@model HealthcareProject.Models.Billing

@{
    ViewData["Title"] = "Your Invoice";
}

<h1>Details</h1>

<div>
    <h4>Healthcare Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Billed Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingDate)
        </dd>
        <dt class = "col-sm-2">
           Billed Amount
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAmount)
        </dd>
        <dt class = "col-sm-2">
           Paid Status (Checked if Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class = "col-sm-2">
            Name of Patient
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Allergy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BillingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
