@model IEnumerable<HealthcareProject.Models.Billing>
@inject IOptions<HealthcareProject.StripeSettings> Stripe
@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole("Staff")) { 
<p>
    <a asp-action="Create">Create New Invoice</a>
</p>
}

<form asp-controller="Billings" asp-action="Index" method="get">
   <p>Please use your billing id to find the invoice to proceed for payment!</p>
    <p>
        <input type="number" name="Searchstring">
        <input type="submit" value="Find Invoice" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Billing ID</th>
            <th>
                @Html.DisplayNameFor(model => model.BillingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAmount)
            </th>
            <th>
                Paid Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
              @item.BillingId
            </td>

            <td>
                @item.BillingDate.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.BillingId">Download Invoice</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
                {
                    @if (item.Paid == false)
                    {
                        <form asp-controller="CheckPayments" asp-action="Create" method="get">

                            <p>
                                <input hidden type="text" name="billing_id" value="@item.BillingId">
                                <input type="submit" value="Check Payment" />
                            </p>
                        </form>
                        <form asp-controller="CashPayments" asp-action="Create" method="get">

                            <p>
                                <input hidden type="text" name="billing_id" value="@item.BillingId">
                                <input type="submit" value="Cash Payment" />
                            </p>
                        </form>
                       
                    }
                }
            </td>
            @if (item.Paid != true)
            {
                <td>
                    <div class="text-center">

                        <form asp-action="Charge" asp-controller="Billings" asp-route-id="@item.BillingId" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-description="Invoice Payment"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </div>

                </td>
            }
        </tr>
        }
    </tbody>
</table>
