@model IEnumerable<HealthcareProject.Models.Billing>
@inject IOptions<HealthcareProject.StripeSettings> Stripe
@using Microsoft.Extensions.Options

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Allergy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BillingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BillingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BillingId">Delete</a>
                </td>
                <td>
                    <div class="text-center">


                        <form asp-action="Charge" asp-controller="Billings" asp-route-id="@item.BillingId" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-description="Invoice Payment"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
